root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++
[*.{c,cpp,h,hpp}]
indent_style = tab 

# Python
[*.py]
indent_style = space
indent_size = 4

# shell scripts
[*.sh]
indent_style = space
indent_size = 2

# documentation files
[*.{.md,txt,dox}]
trim_trailing_whitespace = false
