*.user
.gitignore
.gitconfig
build*
TODO
.kdev4
labplot.kdev4
compile_commands.json
CMakeLists.txt.user*
.cache
.clangd
.directory
.vscode

# Flatpak
.flatpak-builder
LabplotRepo

/src/api
src/3rdparty/vector_blf/src/Vector/BLF/tests