[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Cantor/PanelPlugin
Comment=A Plugin for Cantor's Panel
Comment[bg]=Приставка за панела на Cantor
Comment[bs]=Dodatak za Cantor Panel
Comment[ca]=Un endollable per al plafó del Cantor
Comment[ca@valencia]=Un endollable per al plafó del Cantor
Comment[cs]=Modul pro panel Cantoru
Comment[da]=Et plugin til Cantor's panel
Comment[de]=Ein Modul für Cantors Kontrollleiste
Comment[el]=Ένα πρόσθετο για τον πίνακα του Cantor
Comment[en_GB]=A Plugin for Cantor's Panel
Comment[es]=Un complemento para el panel de Cantor
Comment[et]=Cantori paneeli plugin
Comment[eu]=Cantorren panelarentzako plugin bat
Comment[fi]=Cantorin paneeliliitännäinen
Comment[fr]=Un module externe pour le tableau de bord de Cantor
Comment[gl]=Un engadido para o panel do Cantor
Comment[hu]=Egy bővítmény a Cantor paneléhez
Comment[it]=Un'estensione per il pannello di Cantor
Comment[ja]=Cantor のパネルのプラグイン
Comment[kk]=Cantor панелінің плагині
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់​ផ្ទាំង​របស់​ Cantor
Comment[ko]=Cantor 패널 플러그인
Comment[lv]=Spraudnis Cantor panelim
Comment[nb]=Et programtillegg for Cantors panel
Comment[nds]=En Moduul för't Cantor-Paneel
Comment[nl]=Een plugin voor het paneel van Cantor
Comment[pa]=ਕੇਨਟੋਰ ਦੇ ਪੈਨਲ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka dla panelu Cantor
Comment[pt]=Um 'Plugin' para o Painel do Cantor
Comment[pt_BR]=Um plugin para o painel do Cantor
Comment[ru]=Модуль для панели Cantor
Comment[sk]=Plugin pre panel Cantor
Comment[sl]=Vstavek za pult Cantorja
Comment[sv]=Ett insticksprogram för Cantors panel
Comment[th]=ปลั๊กอินสำหรับพาแนลของ Cantor
Comment[tr]=Cantor Paneli için bir eklenti
Comment[ug]=Cantor كۆزنەكچىسىنىڭ قىستۇرمىسى
Comment[uk]=Додаток панелі Cantor
Comment[x-test]=xxA Plugin for Cantor's Panelxx
Comment[zh_CN]=Cantor 面板插件
Comment[zh_TW]=Cantor 的面板外掛程式

[PropertyDef::RequiredExtensions]
Type=QStringList
