[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Cantor/Backend
Comment=A Backend for Cantor
Comment[bg]=Ядро за Cantor
Comment[bs]=Vrši računanje za Cantora
Comment[ca]=Un dorsal per al Cantor
Comment[ca@valencia]=Un dorsal per al Cantor
Comment[cs]=Podpůrná vrstva Cantoru
Comment[da]=En backend til Cantor
Comment[de]=Ein Modul für Cantor
Comment[el]=Ένα σύστημα υποστήριξης για το Cantor
Comment[en_GB]=A Backend for Cantor
Comment[es]=Un motor para Cantor
Comment[et]=Cantori taustaprogramm
Comment[eu]=Cantorrentzako 'backend' bat
Comment[fi]=Cantorin taustajärjestelmä
Comment[fr]=Un moteur pour Cantor
Comment[ga]=Inneall Cantor
Comment[gl]=Unha infraestrutura para Cantor
Comment[hr]=Pozadinski servis za Cantor
Comment[hu]=Egy háttérprogram a Cantorhoz
Comment[it]=Un motore R per Cantor
Comment[ja]=Cantor のバックエンド
Comment[kk]=Cantor тетігі
Comment[km]=កម្មវិធី​ខាង​ក្រោយ​សម្រាប់​ Cantor
Comment[ko]=Cantor 백엔드
Comment[lv]=Cantor aizmugure
Comment[nb]=En bakgrunnsmotor for Cantor
Comment[nds]=En Hülpprogramm för Cantor
Comment[nl]=Een backend voor Cantor
Comment[nn]=Ein Cantor-motor
Comment[pa]=ਕੇਨਟੋਰ ਲਈ ਬੈਕਐਂਡ
Comment[pl]=Silnik dla Cantor
Comment[pt]=Uma Infra-Estrutura para o Cantor
Comment[pt_BR]=Uma infraestrutura para o Cantor
Comment[ru]=Модуль поддержки системы компьютерной алгебры для Cantor
Comment[sk]=Backend pre Cantor
Comment[sl]=Zaledje za Cantor
Comment[sv]=Ett bakgrundsprogram för Cantor
Comment[th]=โปรแกรมเบื้องหลังสำหรับ Cantor
Comment[tr]=Bir Cantor arka ucu
Comment[ug]=Cantor ئارقا ئۇچى
Comment[uk]=Модуль Cantor
Comment[x-test]=xxA Backend for Cantorxx
Comment[zh_CN]=Cantor 后端
Comment[zh_TW]=Cantor 後端介面
