[Desktop Entry]
Type=Application
Exec=labplot2 -caption "%c" %i
Icon=LabPlot2
Name=LabPlot2
Name[bs]=LabPlot2
Name[cs]=LabPlot2
Name[da]=LabPlot2
Name[de]=LabPlot2
Name[en_GB]=LabPlot2
Name[es]=LabPlot2
Name[fr]=LabPlot2
Name[hu]=LabPlot2
Name[ko]=LabPlot2
Name[nl]=LabPlot2
Name[pl]=LabPlot2
Name[pt]=LabPlot2
Name[pt_BR]=LabPlot2
Name[sk]=LabPlot2
Name[sv]=Labplot 2
Name[uk]=LabPlot2
Name[x-test]=xxLabPlot2xx
Name[zh_CN]=LabPlot2
Name[zh_TW]=LabPlot2
GenericName=LabPlot
GenericName[bs]=LabPlot
GenericName[cs]=LabPlot
GenericName[da]=LabPlot
GenericName[de]=LabPlot
GenericName[en_GB]=LabPlot
GenericName[es]=LabPlot
GenericName[fr]=LabPlot
GenericName[hu]=LabPlot
GenericName[ko]=LabPlot
GenericName[nl]=LabPlot
GenericName[pl]=LabPlot
GenericName[pt]=LabPlot
GenericName[pt_BR]=LabPlot
GenericName[sk]=LabPlot
GenericName[sv]=Labplot
GenericName[uk]=LabPlot
GenericName[x-test]=xxLabPlotxx
GenericName[zh_CN]=LabPlot
GenericName[zh_TW]=LabPlot
Comment=LabPlot is a KDE-application for interactive graphing and analysis of scientific data.
Comment[bs]=LabPlot je KDE-aplikacija za interaktivnu grafiku i analizu naučnih podataka.
Comment[cs]=LabPlot je aplikace KDE pro interaktivní vykreslování grafů a analýzu vědeckých dat.
Comment[da]=LabPlot er et KDE-program til at lave grafer interaktivt og analyse af videnskabelige data.
Comment[de]=LabPlot ist eine KDE-Anwendung zur interaktiven Erstellung von Grafiken und Analyse wissenschaftlicher Daten.
Comment[en_GB]=LabPlot is a KDE-application for interactive graphing and analysis of scientific data.
Comment[es]=LabPlot es una aplicación de KDE de gráficos interactivos y análisis datos científicos.
Comment[fr]=LabPlot est une application KDE pour le tracé de graphiques interactif et l'analyse de données scientifiques.
Comment[hu]=A LabPlot egy KDE-alkalmazás interaktív grafikonrajzoláshoz és tudományos adatok elemzéséhez.
Comment[ko]=LabPlot은 KDE용 인터랙티브 그래핑 및 과학 데이터 프로그램입니다.
Comment[nl]=LabPlot is een KDE-toepassing voor interactief van wetenschappelijke gegevens grafieken te maken en deze te analyseren.
Comment[pl]=LabPlot jest aplikacją KDE do interaktywnego przestawiania graficznego i analizy danych naukowych.
Comment[pt]=O LabPlot é uma aplicação do KDE para gráficos interactivos e para a análise de dados científicos.
Comment[pt_BR]=LabPlot é um aplicativo do KDE para criação de gráficos interativos e análise de dados científicos.
Comment[sk]=LabPlot je KDE aplikácia pre interaktívne grafy a analýzu vedeckých údajov.
Comment[sv]=Labplot är ett KDE-program för interaktiv diagramritning och analys av vetenskaplig data.
Comment[uk]=LabPlot — програма KDE для інтерактивної побудови графіків та аналізу наукових даних.
Comment[x-test]=xxLabPlot is a KDE-application for interactive graphing and analysis of scientific data.xx
Comment[zh_CN]=LabPlot 是对科学数据进行交互绘图和分析的 KDE 应用。
Comment[zh_TW]=LabPlot 是一套互動式圖形與分析科學資料的應用程式。
Terminal=false
MimeType=application/x-LabPlot-gzip;
Categories=Qt;KDE;Education;Science;Physics;Math;
X-DocPath=LabPlot/index.html
X-ServiceTypes=Browser/View
X-KDE-Library=libLabPlot
