[Desktop Entry]
Type=Application
Exec=labplot %f
Icon=labplot
Name=LabPlot
Name[ca]=LabPlot
Name[ca@valencia]=LabPlot
Name[es]=LabPlot
Name[fr]=LabPlot
Name[nl]=LabPlot
GenericName=Data Visualization and Analysis software
GenericName[ar]=برنامج تصور وتحليل البيانات
GenericName[ca]=Programari de visualització i anàlisi de dades
GenericName[ca@valencia]=Programari de visualització i anàlisi de dades
GenericName[es]=Software de visualización y análisis de datos
GenericName[fr]=Logiciel d'analyse de données et d'affichage graphique
GenericName[nl]=Software voor  plotten en analyse van gegevens
Comment=LabPlot is a FREE, open source and cross-platform Data Visualization and Analysis software accessible to everyone.
Comment[ar]=معمل الرسم هو برنامج مجاني ومفتوح المصدر ومتعدد المنصات لتصور البيانات وتحليلها ويمكن للجميع الوصول إليه.
Comment[ca]=El LabPlot és un programari de visualització i anàlisi de dades LLIURE, de codi obert i multiplataforma, accessible a tothom.
Comment[ca@valencia]=LabPlot és un programari de visualització i anàlisi de dades LLIURE, de codi obert i multiplataforma, accessible a tothom.
Comment[es]=LabPlot es un software de visualización y análisis de datos LIBRE, de código abierto y multiplataforma, al que todo el mundo puede acceder.
Comment[fr]=LabPlot est un logiciel d'affichage et d'analyse de données, libre, « Open-source » et multi-plate-forme, accessible à tous.
Comment[nl]=LabPlot is VRIJE opensource software voor Datavisualisatie en Analyse, voor meerdere soorten computers, die iedereen kan gebruiken.
Terminal=false
MimeType=application/x-LabPlot-gzip;application/x-LabPlot-xz;application/x-labplot;
Categories=Qt;KDE;Education;Science;Physics;Math;
X-DocPath=labplot/index.html
