[Desktop Entry]
Type=Application
Exec=labplot %f
Icon=labplot
Name=LabPlot
GenericName=Data Visualization and Analysis software
Comment=LabPlot is a FREE, open source and cross-platform Data Visualization and Analysis software accessible to everyone.
Terminal=false
MimeType=application/x-LabPlot-gzip;application/x-LabPlot-xz;application/x-labplot;
Categories=Qt;KDE;Education;Science;Physics;Math;
X-DocPath=labplot/index.html
