[Desktop Entry]
Type=Application
Exec=labplot %f
Icon=org.kde.labplot
Name=LabPlot
Name[ca]=LabPlot
Name[ca@valencia]=LabPlot
Name[de]=LabPlot
Name[es]=LabPlot
Name[fr]=LabPlot
Name[gl]=LabPlot
Name[it]=LabPlot
Name[ka]=LabPlot
Name[nl]=LabPlot
Name[sl]=LabPlot
Name[uk]=LabPlot
Name[zh_CN]=LabPlot
GenericName=Data Visualization and Analysis software
GenericName[ar]=برنامج تصور وتحليل البيانات
GenericName[ca]=Programari de visualització i anàlisi de dades
GenericName[ca@valencia]=Programari de visualització i anàlisi de dades
GenericName[de]=Software zur Datenvisualisierung und -analyse
GenericName[es]=Software de visualización y análisis de datos
GenericName[fr]=Logiciel d'analyse de données et d'affichage graphique
GenericName[gl]=Programa de visualización e análise de datos
GenericName[it]=Software per la visualizzazione e per l'analisi dei dati
GenericName[ka]=მონაცემების ვიზუალიზაციის და ანალიზის პროგრამა
GenericName[nl]=Software voor  plotten en analyse van gegevens
GenericName[sl]=Programje za vizualizacijo in analizo podatkov
GenericName[uk]=Програмне забезпечення для візуалізації й аналізу даних
GenericName[zh_CN]=数据可视化和分析软件
Comment=LabPlot is a FREE, open source and cross-platform Data Visualization and Analysis software accessible to everyone.
Comment[ar]=معمل الرسم هو برنامج مجاني ومفتوح المصدر ومتعدد المنصات لتصور البيانات وتحليلها ويمكن للجميع الوصول إليه.
Comment[ca]=El LabPlot és un programari de visualització i anàlisi de dades LLIURE, de codi obert i multiplataforma, accessible a tothom.
Comment[ca@valencia]=LabPlot és un programari de visualització i anàlisi de dades LLIURE, de codi obert i multiplataforma, accessible a tothom.
Comment[de]=LabPlot ist ein FREIE, Open Source und plattformübergreifende Software zur Datenvisualisierung und -analyse, die für jeden verfügbar ist.
Comment[es]=LabPlot es un software de visualización y análisis de datos LIBRE, de código abierto y multiplataforma, al que todo el mundo puede acceder.
Comment[fr]=LabPlot est un logiciel d'affichage et d'analyse de données, libre, « Open-source » et multi-plate-forme, accessible à tous.
Comment[gl]=LabPlot é un programa libre, de código aberto e multiplataforma de visualización e análise de datos, a disposición de calquera.
Comment[it]=LabPlot è un software GRATUITO, open source e multi piattaforma per la visualizzazione e per l'analisi dei dati accessibile da chiunque.
Comment[ka]=Labplot-ი ყველასთვის ხელმისაწვდომი, უფასო, ღია კოდის და პლატფორმათაშორისი, მონაცემების ვიზუალიზაციისა და ანალიზის პროგრამაა.
Comment[nl]=LabPlot is VRIJE opensource software voor Datavisualisatie en Analyse, voor meerdere soorten computers, die iedereen kan gebruiken.
Comment[sl]=LabPlot je prosto, odprtokodno in več-platformno programje za vizualizacijo in analizo podatkov dostopno za vsakogar.
Comment[uk]=LabPlot є вільним, доступним для будь-кого програмним забезпеченням з відкритим кодом, яке працює на багатьох платформах і виконує візуалізацію та аналіз даних.
Comment[zh_CN]=LabPlot 是一款自由开源的跨平台数据可视化和分析软件，任何人均可自由使用。
Terminal=false
MimeType=application/x-LabPlot-gzip;application/x-LabPlot-xz;application/x-labplot;
Categories=Qt;KDE;Education;Science;Physics;Math;
X-DocPath=labplot/index.html
